* {
	word-wrap: break-word;

}

br{
  line-height: 50px;
}
div {
  border: double black;
  border-radius: 10px;
  background-color: #fcffe7;
  padding: 20px;
  border-width: 6px;
  border-bottom: solid 4px;
  line-height: 1.5;
  float: left;
  margin: 0; 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

table {
  border-spacing: unset
}
fieldset{
  margin: 0;
}

td {

  padding: 10px;
  vertical-align: top; 
  border-right: solid;

}

.clear{
  border-right: 0 ;
  border-bottom: 
}

.bottomsolidborder{
  border-bottom: solid;
}

h3{
	text-align: center 
}

.button {
  background-color: #fff598;
  border-color:  black;
  border-width: 3px;
  color: black;
  padding: 13px 32px;
  padding-left: 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

body {
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	background-color: #7d7d7d; 
}

p{
	margin: 10px;
	margin-left: 0px;
}





