fieldset{
 margin-left: auto;
 margin-right: auto;
 width: 40em;	
 background: #ffe8d5;
}
body{
	background: #fff0e4;
}

.center{
	margin-left: 40%;
	margin-right: 40%;	
}

button, .button
{
 background-color: #ffa35b; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

p{
  padding-left: 10%;
}