h1 {
    font-size: 4em;
    text-align: center;
}

body {
    background-image: url('https://images3.alphacoders.com/686/thumb-1920-686773.jpg')
}

* {
    color: white;
}

p
{
	text-indent: 2em;
}

h2, h3{
    width: 5cm;
    text-align: center;
    text-indent: 0;
}




td {
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px double white;
    border-radius: 3px;
    padding: 10px;
    
    padding: 10px;
    text-indent: 2em;
}

aside {
     background-color: rgba(0, 0, 0, 0.75);
    border: 3px double white;
    border-radius: 3px;
    padding: 10px;
}


section {
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px double white;
    border-radius: 3px;
    padding: 10px;
    
    padding: 10px;
}

nav {
    
    font-size: 1.3em;
}

h2, h1 {
    
}

.img-container {
    background-size: cover;
    width: x;
    height: y;
}